.footer{
  &__content{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    
    flex-direction: column;
    @media (min-width:700px) {
      flex-direction: row;
      justify-content: space-between;    
    }
  }
  &__list{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    &--link{
      color: $light-gray;
      transition: 0.3s ease-in-out;
      &:hover{
        color: $green;
      }
    }
  }
  .contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .link{
    color: $light-gray;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover{
      color: $green;
    }
  }
}