@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap");
@import "variable";
@import "container";
@import "header";
@import "experience";
@import "skills";
@import "projects";
@import "footer";

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $black;
  font-family: "Space Grotesk", sans-serif;
}
h1 {
  color: white;
}
